<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Welcome to ZURI Project Manager, <%=name%></th>
      </tr>
      <tr>
        <td>
          <p>Hi, <%=name%></p>
          <p>
            <img
              src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmanagement.org%2Fproject-management-phases&psig=AOvVaw0p5MYDr39STfaZP0Ur4KjZ&ust=1707733445632000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCICs0v2Io4QDFQAAAAAdAAAAABAK"
              alt="pms image"
            />
          </p>
          <p>
            Thank you for signing up. <br />
            Enjoy project management with us . We appreciate your wise decision
            to be part of us. <br />

            Thank you.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
