<nav class="navbar">
  <div class="logo">PMS</div>
  <ul class="nav-links">
    <li><a href="#" routerLink="">Home</a></li>
    <li><a href="#" routerLink="">About</a></li>
    <li><a href="#" routerLink="">History</a></li>
    <li><a href="#" routerLink="">Profile</a></li>
    <li>
      <a
        style="color: #ffff"
        href="#"
        data-cy="registerLink"
        routerLink="/register"
        class="special"
        >Register</a
      >
    </li>
    <li>
      <a
        style="color: #ffff"
        href="#"
        data-cy="loginLink"
        routerLink="/login"
        class="special"
        >Login</a
      >
    </li>
  </ul>
</nav>
