.sidebar {
  position: fixed;
  height: 100%;
  width: 165px;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background: var(--color-dark);
  transition: left 300ms;
}

.side-menu ul li:hover {
  background: #2b384e;
}

.side-header {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
  background: var(--main-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-header h3,
side-head span {
  color: #fff;
  font-weight: 400;
}

.side-content {
  height: calc(100vh - 60px);
  overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

.side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.projectcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.statuspreview {
  margin-left: -27%;
  width: 20%;
  color: #f8f7f2;
  font-weight: bold;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #4a7d78;
  border-style: none;
}
.projectcard {
  width: 40%;
  height: auto;
  padding: 45px;
  margin: 15px 0;

  background-color: #f8f7f2;
  box-shadow: rgba(34, 34, 34, 0.6) 0px 6px 6px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2%;
}

.statusheader {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  width: 45%;
  height: 30px;
  margin-bottom: 1%;
}
form {
  margin-left: -35%;
}
